<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Entry Page</title>
  <style> body{background-color:powderblue;}
          body{color:yellow;}
  </style>
</head>
<body>
<div class="container">
  <h2>General info</h2>
  <form action="process" method="post">
   <div class="form-group">
    <label for="name">enter the name:</label>
    <input type="text", class="form-control", id="name" name="name">
   </div>
   <div class="form-group">
    <label for="num">enter Roll no.: </label>
    <input type="int", class="form-control", id="num", name="num">
   </div>
   <div class="form-group">
    <label for="town">enter hometown:</label>
    <input type="text", class="form-control", id="town", name="town">
   </div>  
   <div class="form-group">
    <label for="cls">enter the class:</label>
    <input type="int", class="form-control", id="cls" name="cls">
   </div> 
    <input type="submit" value="send">
</form>
</div>
</body>
</html>
